#app-header {
  padding-right: 10px;
  box-shadow: none !important;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#window-controller {
  -webkit-app-region: drag;
  width: 20px;
}
