@import '../node_modules/@elastic/eui/src/theme_light.scss';

body, html {
  background: none !important;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: fixed;
  height: unset !important;
  bottom: 10px;
  top: 10px;
  left: 10px;
  right: 10px;
  box-shadow: 0 2px 9px 0 $euiColorMediumShade;
  border-top: $euiBorderThick !important;
  border-left: $euiBorderThick !important;
  border-right: $euiBorderThick !important;
  border-bottom: 3px solid $euiBorderColor !important;
  border-radius: $euiBorderRadius !important;
  overflow: hidden;
}
